@page "/contents/delete"

@using Microsoft.EntityFrameworkCore
@using CodeMonkeys.CMS.Public.Shared.Entities
@inject IDbContextFactory<Crud_test.Data.Crud_testContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Content</h4>
    <hr />
    @if (content is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@content.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ContentType</dt>
            <dd class="col-sm-10">@content.ContentType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Body</dt>
            <dd class="col-sm-10">@content.Body</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedDate</dt>
            <dd class="col-sm-10">@content.CreatedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LastModifiedDate</dt>
            <dd class="col-sm-10">@content.LastModifiedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">PageId</dt>
            <dd class="col-sm-10">@content.PageId</dd>
        </dl>
        <EditForm method="post" Model="content" OnValidSubmit="DeleteContent" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(content is null)">Delete</button> |
            <a href="/contents">Back to List</a>
        </EditForm>
    }
</div>

@code {
    Content? content;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        content = await context.Content.FirstOrDefaultAsync(m => m.Id == Id);

        if (content is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteContent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Content.Remove(content!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contents");
    }
}
